<dev class="asking">
  <p>Ask something to a coach!</p>

  <form action="/answer" class="form-inline">
    <div class="form-group mx-auto">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</dev>
